.App {
  text-align: center;
}
.tile {
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  float: left;
  height: 40px;
  margin: -3px -5px -3px -5px;
  padding: 0;
  width: 40px;

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.game-board{
  background-image: url("/src/StaticBgs/field.png");
  background-size: 100%;
  padding: 20px;
}
/* .busterButtons{
  cursor: pointer;
  background-image: url("StaticBgs/b1.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 18px;
  color:  lightblue;
  font-weight: 700;
  height: 50px;
  width: auto;
} */